$myColor: rgb(33, 179, 28);

h1 {
  color: $myColor;
}
.container{
  visibility: hidden;
}
.img-container{
  width: 350px;
  height: 300px;
  margin: auto;
  padding: 10px;
  position: relative;
  &:after{
    content: "ddddd";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    top: 0;
    right: 0;
    z-index: 5;
  }
}